body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#field {
  width: 100%;
  height: 100%;
  left: 5dvw;
  top: 5dvh;
  display: block;
  overflow: auto;
}

th,
tr {
  border: 1px solid black;
}

table {
  /* width: 100%; */
  height: 100%;
}

* {
  user-select: none;
}

tr {
  background-color: white;
}
tr:nth-child(odd) td:nth-child(odd) {
  background-color: #f1f1f1;
}
tr:nth-child(even) td:nth-child(even) {
  background-color: #f1f1f1;
}

img {
  width: 50px;
  height: 75px;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 25px);
  padding: 5px;
}

td {
  width: 100px;
  height: 80px;
  position: relative;
}

@media screen and (max-width: 376px) {
  img {
    width: 40px;
    height: 50px;
    top: -5px;
    left: calc(50% - 25px);
  }
  .corp {
  }
  td {
    width: 50px;
    height: 50px;
  }
}

tr {
  /* width: 400px; */
}

.corp {
  position: absolute;
  top: 0;
  right: -10px;
  background: #6d6d6d31;
  z-index: 9;
  width: fit-content;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.batman {
}
.batman:hover {
  transform: scaleX(-1);
}

.joker {
}

.joker:hover {
  transform: scaleX(-1);
}
