body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

th, tr {
    border: 1px solid black;
}



#chat {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#form {
    
    position: absolute;
    bottom: 0;

}


table {
    width: 100%;
    height: 100%;
}

*{
    user-select: none;
}

tr{
    background-color: white;
}
tr:nth-child(odd) td:nth-child(odd) {
    background-color: #676767
}
tr:nth-child(even) td:nth-child(even) {
    background-color: #676767
}

img {
    width: 50px;
    height: 75px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 25px);
    padding: 5px;
}

td {
    width: 100px ;
    height: 80px;
    position: relative

}

@media screen and (max-width: 376px) {
    img {

        width: 40px;
        height: 50px;
        top: -5px;
        left: calc(50% - 25px);
    }
    .corp{

    }
    td {
        width: 50px;
        height: 50px;
    }
}
  

tr {
    width: 400px;
}

.corp{
    position: absolute;
    top: 0;
    right: -10px;
    background: #6d6d6d31;
    z-index: 9;
    width: fit-content;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

p{
    line-height: 10px;
    margin: 5px;
    padding: 0;
}

p:hover {
    color : white
}


.batman {

}
.batman:hover {
    transform: scaleX(-1);
}

.joker {

}

.joker:hover {
    transform: scaleX(-1);
}




#messages {
    padding-bottom: 50px;
}